body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  padding: 2rem;
  background: #0f20d39a;
  text-align: center;
}

.container {
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  flex: 1 1 100%;
  color: white;
}
h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  flex: 1 1 100%;
  color: white;
}

p {
  font-size: 0.7rem;
  color: white;
}

#userForm {
  background: rgba(255, 255, 255, 0.274);
  max-height: 150px;
  height: auto;
  max-width: 50%;
  /* width: 50%;
  height: 150px; */
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1rem 2rem rgba(117, 116, 116, 0.185);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 20%;
}

.inputAddUser {
  width: 80%;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.validationPasswordMessage {
  margin-top: 3rem;
}

#addUserButton {
  width: 55%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: #5066e3;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

.searchContainer {
  width: 50%;
  max-height: 150px;
  background: rgba(255, 255, 255, 0.274);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1rem 2rem rgba(117, 116, 116, 0.185);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 20%;
}

#searchUserButton {
  width: 80%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: #5066e3;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

#searchEmailName {
  width: 95%;
  height: 25px;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 0.5rem;
  margin: 0 auto;
}

#searchResult {
  font-size: 1.5rem;
  color: white;
  display: none;
}

.listUser {
  width: 50%;
  max-height: 180px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.274);
  border-radius: 5px;
  box-shadow: 1rem 2rem rgba(117, 116, 116, 0.185);
  flex: 1 1 30%;
}

#userList {
  padding: 0;
  margin: 0;
}

#userList li {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}



/* MEDIA QUERY pour Tablette (768px à 1024px) */
@media (max-width: 1024px) {
  .container {
    width: 90%; 
    flex-direction: column; 
    align-items: center; 
  }

  #userForm,
  .searchContainer {
    max-width: 70%; 
  }

  .listUser {
    width: 80%; 
  }
}

/* MEDIA QUERY pour Mobile (max-width: 767px) */
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 1rem;
    gap: 1.5rem; 
  }

  #userForm,
  .searchContainer {
    width: 90%;
    padding: 1rem;
  }

  .inputAddUser {
    width: 95%; 
  }

  #addUserButton,
  #searchUserButton {
    width: 100%;
  }

  .listUser {
    width: 100%; 
  }

  #userList {
    padding: 0;
    margin: 1rem 0;
  }
}